// - Pale blue: hsl(225, 100%, 94%)
// - Bright blue: hsl(245, 75%, 52%)

// - Very pale blue: hsl(225, 100%, 98%)
// - Desaturated blue: hsl(224, 23%, 55%)
// - Dark blue: hsl(223, 47%, 23%)

$body-background-color: hsl(225, 100%, 94%);
$conitaner-titleText-color: hsl(223, 47%, 23%);
$container-descriptionText-color: hsl(224, 23%, 55%);
$container-planBackground-color: hsl(225, 100%, 98%);
$container-planNameText-color: hsl(223, 47%, 23%);
$container-planPriceText-color: hsl(224, 23%, 55%);
$container-changeBtnText-color: hsl(245, 75%, 52%);
$container-proceedTxt-color: hsla(0, 0%, 100%);
$container-proceedBackground-color: hsl(245, 75%, 52%);
$container-cancelText-color: hsl(224, 23%, 55%);